#container{
            margin-top:120px;   
        }


        #notePad, #allNotes, #done, .delete{
            display: none;   
        }
        
        #footer{
          margin-top : 15px;
        }
        
        @media screen and(min-width:800px){
          #explanation{
          font-size : 19px;
          font-weight : bold;
        }
        }

        

        #footer{
          margin-top : 15px;
        }

        @media screen and(max-width:700px){
          #explanation{
            font-size : 12px;
            font-weight : bold;
          }
        }

        #statusChanger{
          position : relative; 
          left : 26%;
        }

        #change_status{
          width : 20%;
        }

        #edit{
          position : relative ; 
          top : -30px;
          color : darkred;
        }

        .buttons{
            margin-bottom: 20px;   
        }

        .saveInfo{
          position : relative;
          left : 40%;
        }

        
        .noteheader{
            border: 1px solid grey;
            border-radius: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            padding: 0 10px;
            background: linear-gradient(#FFFFFF,#ECEAE7);
        }
          
        .text{
            font-size: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
          
        .timetext{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .notes{
            margin-bottom: 100px;
        }